maxflow-cuda/obj/*.o
maxflow-cuda/maxflow
maxflow-serial/maxflow-serial
maxflow-serial/*.o
maxflow-cuda/*.txt
*.o
network/DIMACS/washington/gengraph
.vscode
dataset
network/GTgraph/R-MAT/log
network/GTgraph/SSCA2/log
maxflow-cuda/profiles
maxflow-csr/profiles/*
