maxflow-csr/maxflow
*.o
network/DIMACS/washington/gengraph
.vscode
dataset
network/GTgraph/R-MAT/log
network/GTgraph/SSCA2/log
maxflow-cuda/profiles
maxflow-csr/profiles/*
maxflow-bcsr/profiles/*
maxflow-bcsr/maxflow
profiles/*
plots/*.png
bipartite_data
snap_cap1_data